.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-left: .1rem solid var(--f-primary);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  max-height: calc(100vh - 11.7rem);
  height: calc(100vh - 11.7rem);
  overflow-y: scroll;
  background-color: var(--f-bg-10);
  gap: 2rem;
  padding: 1.6rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: .1rem solid var(--f-bg-20);
  padding: .5rem 0;
}

.title > h1 {
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.01rem;
  color: var(--f-bg-20);
}

.formu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem;
}

.btn-menu {
  padding: 1.6rem 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-align: center;
  letter-spacing: 0.01rem;
  color: var(--f-bg-10);
  background-color: var(--f-terciary);
  width: 100%;
  border-radius: var(--border-radius);
  transition: all .3s;
  box-sizing: border-box;
}

.btn-menu:hover {
  background-color: rgba(76, 175, 80, .8);
}